.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  width: 55%;
  
  @include tablets {
    display: none;
  }
}

.header__buttons {
  @include tablets {
    margin-right: 20%;
  }
     
  @include phones {
    display: none;
  }
}