.middle-section {
  padding: 140px 0;

  @include phones {
    padding: 90px 0;
  }
}

.middle-section__triangles_top {
  height: 100px;
  position: absolute;
  bottom: 105.4%;
  width: 100%
}

.middle-section__triangles_bottom {
  height: 100px;
  position: absolute;
  width: 100%
}