.welcome-section {
  background: url('~images/bg/hero.jpg') 27% top/150%  no-repeat;
  padding-bottom: 230px;
}

/*.welcome-section__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}*/