.headline-component {
    background-image: linear-gradient(to top, #3e3e59, #454573);
    color: #ffffff80;
}

.headline-container {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.title {
    margin-left: 25px;
}

.buttons {
    margin-left: auto;
}

.btn {
    color: rgba(255, 255, 255, 0.9);
    text-decoration-line: underline;
}